<h2>Reward List</h2>

<div class="table-container" *ngIf="data$ | async as data">

  <table mat-table
         [dataSource]="data.rewards"
         class="mat-elevation-z8 reward-table">

    <!-- Employee Column -->
    <ng-container matColumnDef="employee">
      <th mat-header-cell *matHeaderCellDef>Employee</th>
      <td mat-cell *matCellDef="let r">
        {{ getEmployeeName(r.employeeId, data.employees) }}
      </td>
    </ng-container>

    <!-- Reward Column -->
    <ng-container matColumnDef="rewardName">
      <th mat-header-cell *matHeaderCellDef>Reward</th>
      <td mat-cell *matCellDef="let r">
        {{ r.rewardName }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dateAwarded">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let r">
        {{ r.dateAwarded }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let r">
      
        <button mat-button color="primary"
          [routerLink]="['/assign-reward', r.id]">
          Edit
        </button>

      
        <button mat-button color="warn"
                (click)="deleteReward(r.id!)">
          Delete
        </button>
      
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>

<div class="action-area">
  <a mat-raised-button
     color="primary"
     routerLink="/assign-reward">
    Assign Reward
  </a>
</div>
